<div *ngIf="fin">
  <h2>Hacker {{ boardID }} a gagné !!!</h2>
</div>
<div *ngIf="!fin">
  <div class="info">
    <h2>Hacker {{ boardID }}</h2>
    <h3>A trouvé {{ door }} Backdoor</h3>
  </div>
  <table>
    <tr *ngFor="let y of boardY; let i = index">
      <td
        *ngFor="let x of boardX; let j = index"
        (click)="attack(j, i)"
        [ngClass]="{
          false: boardPlayed[i][j] === 0,
          true: boardPlayed[i][j] === 2
        }"
      >
        <div *ngIf="boardPlayed[i][j] === -1">🔒</div>
        <div *ngIf="boardPlayed[i][j] === 0">🛡</div>
        <div *ngIf="boardPlayed[i][j] === 2">🚪</div>
      </td>
    </tr>
  </table>
</div>
