table {
  font-size: 2.5rem;
}
td {
  border: 3px solid rgba(1, 255, 255, 1);
  width: 5rem;
  height: 5rem;
  text-align: center;
  cursor: pointer;
}
.true {
  background-color: #01ffff;
}
.false {
  background-color: #fa2e2e;
}
.info {
  background-color: black !important;
  padding-bottom: 0.5rem;
}
